*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header, footer{
    background: #121926;
    color: #fff;
    padding: 20px 0;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}
a:hover{
    background: #212b3f;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}
header .container, nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 25px;
}

li{
    list-style: none;
}
.btn{
    background: #9926A5;
}
.btn:hover{
    background: #b52ec4;
}

footer{
    text-align: center;
}
main{
    margin: 10px 0;
}